:root {
    /* Nord colour palette from: 
    https://github.com/arcticicestudio/nord/blob/develop/src/nord.css
    * Used here under MIT License
    
    Formated by Jessica Smith (jayeless.net)
    */

    --nordDark1: #2e3440; /* Polar Night - darkest */
    --nordDark2: #3b4252; /* Polar Night - second-darkest */
    --nordDark3: #434c5e; /* Polar Night - third-darkest */
    --nordDark4: #4c566a; /* Polar Night - fourth-darkest */
    --nordLight1: #d8dee9; /* Snow Storm - third-lightest */
    --nordLight2: #e5e9f0; /* Snow Storm - second-lightest */
    --nordLight3: #eceff4; /* Snow Storm - lightest */
    --nordTeal: #8fbcbb; /* Frost - teal accent colour */
    --nordAqua: #88c0d0; /* Frost - aqua accent colour */
    --nordLightBlue: #81a1c1; /* Frost - lighter blue accent colour */
    --nordBlue: #5e81ac; /* Frost - darker blue accent colour */
    --nordRed: #bf616a; /* Aurora - red accent colour */
    --nordOrange: #d08770; /* Aurora - orange accent colour */
    --nordYellow: #ebcb8b; /* Aurora - yellow accent colour */
    --nordGreen: #a3be8c; /* Aurora - green accent colour */
    --nordPurple: #b48ead; /* Aurora - purple accent colour */


    --background: var(--nordLight1);
    --background-alt: var(--nordLight3);
    --text: var(--nordDark1);
    --text-alt: var(--nordDark2);
    --accent: var(--nordBlue);
    --accent-alt: var(--nordTeal);

    --box-shadow-color-1: rgba(0, 0, 0, 0.4);
    --box-shadow-color-2: rgba(0, 0, 0, 0.3);
    --box-shadow-color-3: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--nordDark1);
        --background-alt: var(--nordDark2);
        --text: var(--nordLight1);
        --text-alt: var(--nordLight2);
        --accent: var(--nordRed);
        --accent-alt: var(--nordOrange);

        --box-shadow-color-1: rgba(255, 255, 255, 0.4);
        --box-shadow-color-2: rgba(255, 255, 255, 0.3);
        --box-shadow-color-3: rgba(255, 255, 255, 0.2);
    }
}

html {
    background-color: var(--background);
    color: var(--text);
    font-family: "Verdana", "-apple-system-body", "-apple-system", sans-serif;
    line-height: 1.6;
    font-size: 1rem;
}

body {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3 {
    font-family: Garamond, Georgia, serif;
}

a {
    color: var(--accent);
    text-decoration: none;
    box-shadow: inset 0 -2px 0 var(--accent-alt);
    transition: all .5s;
    transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}

a:hover {
    box-shadow: inset 0 -1.2rem 0 var(--accent-alt);
}

h1 a:hover {
    box-shadow: inset 0 -2.2rem 0 var(--accent-alt);
}

article {
    background-color: var(--background-alt);
    margin: 0em 0em 1em;
    padding: .5em 1em .5em;
    border-radius: 5px;
    box-shadow: 0px 2px 7px var(--box-shadow-color-1),
        0px 7px 13px -3px var(--accent),
        inset 0px -3px 0px var(--box-shadow-color-3);
}

article header {
    /* background: var(--background-alt); */
    margin: 0em 0em 0em 0em;
    padding: 0em;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}


article header h1 {
    margin-top: 0;
    margin-bottom: 0;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}


article div {
    margin-top: 0px;
    margin-bottom: .5rem;
}

article div p:first-of-type {
    margin-top: .5rem;
}

article div p:last-child {
    margin-bottom: 0px;
}

article div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.microblog_avatar {
    display: inline;
    margin-left: inherit;
}

article footer {
    display: grid;
    grid-template-columns: 2;
    margin: 0em 0em 0em 0em;
    padding: 0em;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

article footer p {
    margin-bottom: 0;
    margin-top: 0;
}

.left-column {
    grid-column: 1;
    text-align: left;
}

.right-column {
    grid-column: 2;
    text-align: right;
}

article footer details {
    display: none;
}

article:last-of-type {
    margin-bottom: inherit;
}

body>header h1 {
    font-size: 2.8rem;
    padding-bottom: 0px;
}

menu {
    list-style: none;
    padding: 0;
}

menu li {
    display: inline;
}

menu li:after {
    content: ' | ';
    color: var(--background-alt);
}

menu li:last-child:after {
    content: '';
}

header {
    margin-bottom: 1rem;
}

menu {
    margin-bottom: 2rem;
}

footer {
    margin-top: 2rem;
}

blockquote {
    border-left: 7px solid var(--background-alt);
    border-left-color: var(--accent);
    padding-left: 1rem;
    margin-left: 1rem;
}

img,
video,
iframe {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.microblog_conversation {
    margin: 16px 0;
}

.microblog_post {
    padding-top: 16px;
    margin: 16px 0;
    border-top: 1px solid var(--background-alt);
}

.microblog_avatar {
    border-radius: 1rem;
}

/* 
.microblog_time a {
    color: var(--accent-alt);
}
 */

.bookshelf_book {
    min-height: 140px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.bookshelf_book img {
    min-height: 100px;
    width: 80px !important;
    min-width: 80px !important;
    max-height: 140px !important;
    margin-right: 8px;
    padding-right: 0 !important;
    border-radius: 6px !important;
    background-color: var(--background-alt);
    justify-content: center;
}

.bookshelf_author {
    color: var(--text-alt);
    font-weight: 500;
    font-size: 1rem;
}

.bookshelf_title {
    font-weight: 600;
    font-size: 1rem;
}

.pagination {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 2;

}

.nav_prev {
    grid-column: 1;
    text-align: left;
}

.nav_next {
    grid-column: 2;
    text-align: right;
}

li::marker {
    color: var(--accent);
}

details summary::marker {
    color: var(--accent);
}

/* Summary marker coloring for Safari
found on the following page
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/summary
*/
summary::-webkit-details-marker {
    color: var(--accent);
}

details {
    background-color: var(--backgroud);
}


.highlight {
    overflow: auto;
}

mark {
    background-color: var(--accent-alt);
}

/* Making the mark tag more accessible.
Found at the following location.
https://www.tpgi.com/short-note-on-making-your-mark-more-accessible/
*/
mark::before, mark::after {
  content:" [highlight start] ";
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

mark::after {
  content:" [highlight end] ";
}

table {
    width: 100%;
    margin: 1 em;
    border-collapse: collapse;
    line-height: 1.5em;
}

th,td {
    text-align: left;
    vertical-align: top;
}

tr:nth-child(odd of :not([hidden]))>td {
    background: var(--background);
}

thead th,th {
    font-weight: bold;
    color: var(--accent);
    border-bottom: 1px solid var(--accent-alt);
    white-space: nowrap;
}

/*
article ul > li::marker {
    content: "\2751"; 
}
*/

/* task list and its checkboxes */
article ul > li:has(> input[type="checkbox"]) {
    list-style: none;
    margin-inline-start: -1rem;
}

article ul > li:has(> input[type="checkbox"])::before {
    content: "\200B"; /* accessibilty for Safari https://developer.mozilla.org/en-US/docs/Web/CSS/list-style */
}

/* Taken from the Hugo Relearn Theme */
/* https://themes.gohugo.io/themes/hugo-theme-relearn/ */
/* https://moderncss.dev/pure-css-custom-checkbox-style/ */
article ul > li > input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--INTERNAL-MAIN-BG-color); /* box background */
    border: 0.15rem solid currentColor;
    border-radius: 0.15rem;
    color: var(--INTERNAL-MAIN-TEXT-color);
    display: inline-grid;
    font: inherit;
    height: 1.15rem;
    margin: 0;
    place-content: center;
    transform: translateY(-0.075rem);
    width: 1.15rem;
}

article ul > li > input[type="checkbox"]::before {
    box-shadow: inset 1rem 1rem var(--accent);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    content: "";
    height: 0.65rem;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    width: 0.65rem;
    /* Windows High Contrast Mode fallback must be last */
    background-color: CanvasText;
}

article ul > li > input[type="checkbox"]:checked::before {
    transform: scale(1);
}

figure {
    background-color: var(--background);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 7px var(--box-shadow-color-1),
        0px 7px 13px -3px var(--accent),
        inset 0px -3px 0px var(--box-shadow-color-3);
    text-align: center;
}

a.footnote-ref::before {
    content: '[';
}

a.footnote-ref::after {
    content: ']';
}


del {
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-thickness: .08rem;
    text-decoration-color: tomato;
    padding: .1rem;
}

ins {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: .08rem;
    text-decoration-color: limegreen;
}

ins[cite]:after,
del[cite]:after {
  content: " (" attr(cite) ")";
  font-size: 75%;
  line-height: 0;
  color: var(--text-alt);
}


.style-box {
    background-color: var(--background-alt);
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px var(--box-shadow-color-1),
        0px 7px 13px -3px var(--accent),
        inset 0px -3px 0px var(--box-shadow-color-3);
    text-align: center;
}

audio {
    width: 100%;
}

