<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-US" }}">
{{ partial "site-head.html" . }}

<body>

{{ partial "site-nav.html" . }}

<main>
{{ block "main" .}}{{ end }}
</main>


<footer>
	{{- with  .Site.Params.description }}
	<p>{{ . | safeHTML }}</p>
	{{ end -}}
	
	<p>
	{{- with .Site.Copyright }}
	{{ . | safeHTML }}
	{{- else }}
	&copy; {{ now.Year }}
	{{ end -}}
	</p>
</footer>

{{ partial "custom_footer.html" . }}
{{ range .Site.Params.plugins_js }}
	<script src="{{ . }}"></script>
{{ end }}
</body>
</body>

</html>
