<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <title>{{ .Title }}</title>
    
    <!-- CSS Links -->
	<link rel="stylesheet" href="/css/normalize.css" />
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>

<!-- Navigation -->
<nav>
	<menu>
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Toggle</a></li>
	</menu>
</nav>

<main>

{{ block "main" .}}{{ end }}

<article>
	<header>
		<h1><a href="#">First Article Title</a></h1>
	</header>
	<section>
		<p>This is the main body of the article.</p>
	</section>
	<footer>
	<p>Category: <a href="#">Some Category</a><br/>
		Tags: One Two Three</p>
	
		<p>Published: Some Date</p>
		</footer>
</article>

<article>
	<header>
		<h1><a href="#">Second Article Title</a></h1>
	</header>
	<section>
		<p>This is the main body of the article.</p>
		<p>Second paragraph of text.</p>
	</section>
	<footer>
		<p>This is the article footer.</p>
	</footer>
</article>

<article>
	<section>
		<p>This is the main body of the note. Notice that there isn't a header.</p>
	</section>
	<footer>
		<p>This is the note footer</p>
	</footer>
</article>

<article>
	<header>
		<h1><a href="#">Third Article Title</a></h1>
	</header>
	<section>
		<p>This is the main body of the article.</p>
	</section>
	<footer>
		<p>Category: <a href="#">Some Category</a><br/>
		Tags: One Two</p>
	
		<p>Published: Some Date<br/>
		Modified: Some other Date</p>
	</footer>
</article>
</main>


<footer>
	<p>Footer for the site. &copy; 20##</p>
</footer>
</body>

</html>
