<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-US" }}" 
  prefix="og: https://ogp.me/ns#"
  itemscope itemtype="http://schema.org/WebPage" >
{{ partial "site-head.html" . }}

<body>

{{ partial "site-nav.html" . }}

<main>
{{ block "main" .}}{{ end }}
</main>



{{ partial "site-footer.html" . }}

<footer id="custom-footer-container" 
  class="[ style-box ] [ optional ] [ text-center ]"
  aria-label="Additional content">
{{ if templates.Exists "partials/custom_footer.html" -}}
{{ partial "custom_footer.html" . }}
{{ end -}}
</footer>
{{ range .Site.Params.plugins_js }}
<script src="{{ . }}"></script>
{{ end }}
</body>

</html>