{{ "<!-- article-footer.html -->" | safeHTML }}
<footer id="post-meta">
	<p>
	{{- with .Param "categories" -}}
	Categories:
	{{ range $CategoryArray, $Category := (. | sort) -}}
		{{- if gt $CategoryArray 0 -}}
		<span> •</span>
		{{- end }}
		<a href="/categories/{{ $Category | urlize }}" class="p-category">
			<span itemprop="articleSection">{{ $Category }}</span></a>
		{{- end }}
	{{- end }}

			
	
	{{- with .Param "tags" }}
	{{ with $.Param "categories"}}
	<br />
	{{ end }}
		Tags: <span itemprop="keywords">
  		{{ range $index, $tag := (. | sort) }} 
  			{{ with $.Site.GetPage (printf "/%s/%s" "tags" $tag) }}
  				<a href="{{ .Permalink }}" class="tag">{{ $tag | urlize }}</a>
  			{{ end }}
  		{{ end }}
		</span>
	{{- end }}
		
	</p>
	
	<p>Published: 
		<a href="{{ .Permalink }}" class="u-url">
		<time class="dt-publised" itemprop="dateCreated datePublished"
			{{ 
			printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") 
			| safeHTMLAttr }}>
			{{- .Date.Format (default "January 2, 2006" .Site.Params.date_format) }}
		</time>
		</a>
	</p>
		
	
{{ "<!-- Debugging Details --> " | safeHTML }}
	<details>
		<summary>Debug</summary>
		<h1>Site Properties</h1>
		<pre>
		{{ "<!-- $.Site Properties -->" | safeHTML }}
		{{ printf "%#v \n" $.Site  }}
		
		{{ "<!-- site.Params Properties -->" | safeHTML }}
		{{ printf "%#v" site.Params }}
		
		Permalink
		{{ printf "%#v \n" .Permalink }}
		
		Page Information
		{{ range .Pages }}
			{{/* The context, ".", is now each one of the pages as it goes through the loop */}}
			{{ printf "%#v" . }}
		{{ end }}
		
		Params
		{{ printf "%s" $.Params }}
		</pre>
	</details>
			
</footer>