{{ "<!-- article-footer.html -->" | safeHTML }}
<footer id="post-meta">
    <p class="[ left-column ]">
    {{- with .Param "categories" -}}
    Categories:
    {{ range $CategoryArray, $Category := (. | sort) -}}
        {{- if gt $CategoryArray 0 -}}
        <span> •</span>
        {{- end }}
        <a href="/categories/{{ $Category | urlize }}" class="p-category"
        	aria-label="Archive of post with the {{ $Category }} category.">
            <span itemprop="articleSection">{{ $Category }}</span></a>
        {{- end }}
    {{- end }}

            
    
    {{- with .Param "tags" }}
    {{ with $.Param "categories"}}
    <br />
    {{ end }}
        Tags: <span itemprop="keywords">
          {{ range $index, $tag := (. | sort) }} 
              {{ with $.Site.GetPage (printf "/%s/%s" "tags" $tag) }}
                  <a href="{{ .Permalink }}" class="tag">{{ $tag | urlize }}</a>
              {{ end }}
          {{ end }}
        </span>
    {{- end }}
        
    </p>
    
    <p class="[ right-column ]">
        <a href="{{ .Permalink }}" class="u-url">
        <time class="dt-publised" itemprop="dateCreated datePublished"
            {{ 
            printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") 
            | safeHTMLAttr }}>
            {{- .Date.Format (default "January 2, 2006" .Site.Params.date_format) }}
        </time>
        </a>
    </p>
    
    {{ partial "author.html" .}}
    
    {{ "<!-- Debugging Details --> " | safeHTML }}
    <details
    {{ if not .Params.showDebugInfo }}style="display: none;"{{ end }}
    class="[ debug ]">
        <summary>Debug Information</summary>
        <h1>Site Properties</h1>
         <code>
        {{ printf "%#v \n" $.Site  }}
        </code>

        <h1>site.Params Properties</h1>
        <code>
        {{ printf "%#v" .Site.Params }}
        </code>

        <h1>Permalink</h1>
        <code>
        {{ printf "%#v \n" .Permalink }}
        </code>
        
        <h1>Params</h1>
        <code>
        {{ printf "%s" $.Params }}
        </code>

        <h2>All variables scoped to the current context</h2>
        <code>
        {{ printf "%#v" . }}    
        </code>
    </details>
</footer>
{{ if .Page.Store.Get "hasMermaid" }}
<script type="module">
import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
let isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
let mermaidTheme = (isDark) ? 'dark' : 'default';
let mermaidConfig = {
    theme: mermaidTheme,
    startOnLoad: true }
mermaid.initialize(mermaidConfig);
</script>
{{ end }}