{{- if .Title }}
<article class="post h-entry hentry">
<header class="post-header">
<h1><a href="{{ .Permalink }}" class="p-name">{{ .Title }}</a></h1>
</header>
{{ else }}
<article class="h-entry note-summary-view">
{{ end }}
<div class="e-content post-body">
{{ .Content -}}
{{ if .Params.transcript -}}
<p>Transcript is here: <a href="{{ .Params.transcript }}" title="Transcript to audio.">click here</a></p>
{{ end }}
</div>

{{ partial "article-footer.html" . }}

{{ if .Site.Params.include_conversation }}
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}" defer></script>
{{ end }}
</article>