{{- if .Title }}
<article class="[ post ] [ h-entry ] [ hentry ] [ style-box ]"
  aria-label="{{ .Title }}"
  itemscope itemtype="https://schema.org/BlogPosting">
<header class="[ post-header ]">
<a href="{{ .Permalink }}"><h1 itemprop="headline" class="p-name">{{ .Title }}</h1></a>
</header>
{{ else }}
<article class="[ h-entry ] [ hentry ] [ note-summary-view ] [ style-box ]"
  aria-label="MicroPost"
  itemscope itemtype="https://schema.org/BlogPosting">
{{ end }}
<div class="[ entry-content] [ e-content ] [ post-body ]"
  itemprop="articleBody">
{{ .Content -}}
</div>

{{ partial "article-footer.html" . }}

</article>