{{ "<!-- Site Pagination -->" | safeHTML }}
{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 10) }}
<nav role="navigation" id="site-pagination" 
  aria-label="Pagination" class="[ pagination ]">
  {{- if $paginator.HasPrev -}}
  <p class="[ nav_prev ]">
	  <a href="{{ $paginator.Prev.URL }}" class="[ no-decoration ]" role="presentation" title="Newer Posts">←</a>
    <a href="{{ $paginator.Prev.URL }}" rel="prev">
      Newer Posts
    </a>
  </p>
    {{- end }}

    {{ if $paginator.HasNext -}}
  <p class="[ nav_next ]">
    <a href="{{ $paginator.Next.URL }}" rel="next">
        Older Posts 
    </a>
	<a href="{{ $paginator.Next.URL }}" class="[ no-decoration ]" role="presentation" title="Older Posts">→</a>
  </p>
    {{- end }}
</nav>