<head>
<meta theme_version="0.61" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{{- $.Scratch.Set "myTitle" "Untitled" -}}
{{- $.Scratch.Set "myDescription" "Description not set" -}}
{{- $.Scratch.Set "myImage" "https://micro.blog/{{ .Site.Author.username }}/favicon.png" -}}
{{- if .IsHome -}}
	{{ $.Scratch.Set "myTitle" .Site.Title }} 
	{{ $myDescription := .Site.Params.Description }}
	{{ $.Scratch.Set "myDescription" .Params.Description }}
	

	{{ $myImage := "https://micro.blog/{{ .Site.Author.username }}/favicon.png" }}
{{- end }}

<title>
{{ $.Scratch.Get "myTitle" }}
</title>

{{ if .IsHome }}
<meta name="description" content="{{ .Site.Params.Description }}" />
{{ else }}
<meta name="description" content="{{ .Summary }}" />
{{ end }}
<base href="{{ .Site.BaseURL }}" />
<meta name="keywords" content="{{ range .Site.Params.categories }}{{ . }},{{ end }}" />
<meta name="author" content="{{ .Site.Params.Author }}" />

{{ "<!-- CSS Links -->" | safeHTML }}
<link rel="stylesheet" href="{{ "css/normalize.css" | relURL }}?{{ .Site.Params.theme_seconds }}" />
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}?{{ .Site.Params.theme_seconds }}" />
{{- if isset .Site.Params "customcss" }}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ .Site.Params.customCSS }}" />
{{ end }}
{{- if isset .Site.Params "customdarkcss" }}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ .Site.Params.customDarkCSS }}" />
{{ end }}
{{ range .Site.Params.plugins_css }}
{{"<!-- Plugin CSS -->" | safeHTML }}
<link rel="stylesheet" href="{{ . }}" />
{{ end }}



{{ "<!-- Micro.blog Values -->" | safeHTML }}
<link rel="shortcut icon" 
	href="https://micro.blog/{{ .Site.Author.username }}/favicon.png"
	type="image/x-icon" />
<link rel="me" href="https://micro.blog/{{ .Site.Author.username }}" />
<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
<link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
<link rel="micropub" href="https://micro.blog/micropub" />
<link rel="microsub" href="https://micro.blog/microsub" />
<link rel="webmention" href="https://micro.blog/webmention" />
<link rel="subscribe" href="https://micro.blog/users/follow" />
<link rel="canonical" href="{{ .Permalink }}" />		

{{- with .OutputFormats.Get "RSS" -}}
{{ "<!-- RSS Definition -->" | safeHTML }}
<link rel="alternate" type="application/rss+xml"
	title="{{ $.Site.Title }}"
	href="{{ .RelPermalink }}" />
{{- with $.Site.Params.podcast_title }}
<link rel="alternate" type="application/rss+xml"
	title="{{ . }}"
	href="{{ "podcast.xml" | absURL }}" />
{{ else }}
<link rel="alternate" type="application/rss+xml" 
	title="Podcast feed for {{ $.Site.Title }}" 
	href="{{ "podcast.xml" | absURL }}" />
{{ end -}}
<link rel="alternate" type="application/json" 
	title="{{ $.Site.Title }}"
	href="{{ "feed.json" | absURL }}" />
<link rel="EditURI" type="application/rsd+xml" 
	href="{{ "rsd.xml" | absURL }}" />
{{- end -}}

{{ with .Site.Params.twitter_username }}
<link rel="me" href="https://twitter.com/{{ . }}" />
<meta name="twitter:site" content="{{ . }}" />
<meta name="twitter:creator" content="@{{ . }}" />
<meta name="twitter:card" content="summary_large_image" />
{{ end }}
{{ with .Site.Params.github_username }}
<link rel="me" href="https://github.com/{{ . }}" />
{{ end }}
{{ with .Site.Params.instagram_username }}
<link rel="me" href="https://instagram.com/{{ . }}" />
{{ end }}

{{ range .Site.Params.plugins_css }}
<link rel="stylesheet" href="{{ . }}" />
{{ end }}
{{ range $filename := .Site.Params.plugins_html }}
{{ partial $filename $ }}
{{ end }}

<meta property="og:title" content="{{ $.Scratch.Get "myTitle" }}" />
<meta property="og:description" content="{{ $.Scratch.Get "myDescription" }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="{{ .Site.LanguageCode }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ if .Params.ogimage }}
	<meta property="og:image" content="{{ .Params.ogimage }}" />
{{ end }}
</head>