{{ define "main" }}

{{- range ( .Paginate (where .Site.RegularPages "Type" "post")).Pages }}
{{ partial "article.html" . }}
    
{{ end }}

{{ partial "site-pagination.html" . }}

<details style="display: none;">
    <summary>Home Page Debug Information</summary>
    {{ range .Pages }}
    {{/* The context, ".", is now each one of the pages as it goes through the loop */}}
    {{ printf "%#v" . }}
    {{ end }}

    <h2>All variables scoped to the current context</h2>
    <pre>
    {{ printf "%#v" . }}    
    </pre>
</details>
{{ end }}